// @Author: Ruben
// @Date:   2017-10-26T00:34:08-06:00
// @Last modified by:   Ruben
// @Last modified time: 2017-12-13T15:22:41-07:00



page-register {
  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent !important;
  }
  ion-content {
    background-image: url('../assets/imgs/bg1.jpg');
    background-size: cover;
    background-position: center;
  }
  .logo {
    width: 200px;
    margin-bottom: 20px;
  }
  form {
    background: white;
    width: calc(100% - 30px);
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid #aaa;
  }
  .list-ios {
    margin: 0;
  }
  .item {
    padding: 0;
  }
  .item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 0 !important;
  }
  .input {
    padding-left: 15px;
  }
  .error-msg {
    padding-left: 1.2em;
    color: color($colors, 'danger');
  }
  .agreement {
    text-align: center;
    padding: 10px;
    font-size: 12px;
  }
  .btn-submit {
    margin-bottom: 15px;
  }

}
