<!--
  Generated template for the AboutFaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rt-blue">
    <ion-title>FAQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="seoContent">
  <ion-row>
    <ion-col padding></ion-col>
  </ion-row>
  <ion-row>
    <ion-col [innerHTML]="seoContent" padding></ion-col>
  </ion-row>
  <ion-row>
    <ion-col padding>
      <p text-center>
        
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col padding></ion-col>
  </ion-row>
</ion-content>
<ion-content padding  *ngIf="!seoContent">

  <ion-card>
    <!-- <img src="assets/imgs/au1.jpg" /> -->
    <ion-card-content [innerHTML]="seoContent">
      <ion-card-title>
        Frequently Asked Questions
      </ion-card-title>
      <p class="lead">What is ReelTrail?</p>
      <p>ReelTrail is the leading sportsman’s destination where men and women come together to buy and sell outdoor gear and accessories. We have built a community where our members can buy and sell with confidence and ease. Shop from hundreds of thousands of items for new and gently-used gear at prices up to 80% off retail – all from your smartphone or on the web. List an item for sale in seconds with the free iPhone, iPad, or Android app.</p>
      <p>We strive to keep an open and trusted environment for our community.</p>

      <hr>

      <p class="lead">How do I get started on ReelTrail?</p>
      <p>The short checklist below will get you started:</p>
      <ul>
      	<li>Create your account, fill out the required “Seller’s Checklist, choose your subscription, and begin selling. Sellers are approved instantly.</li>
      	<li>Start your Inventory: List an item for sale in seconds on the website or with the free iPhone or Android app. Add the title, snap a picture, add a detailed description, and see just how easy it is to make your first sale!</li>
      	<li>Purchase something you’ve always wanted, at a better price. Don’t forget to leave feedback for the seller!</li>
      </ul>

      <hr>

      <p class="lead">How can I get the ReelTrail app?</p>
      <p>ReelTrail is available as a free iPhone, iPad, and Android app from the Apple App Store or Google Play store.</p>

      <hr>

      <p class="lead">Can I buy and sell on ReelTrail if I am not in the United States?</p>
      <p>ReelTrail is worldwide. Everything works the same!</p>

      <hr>

      <p class="lead">Can I change my username?</p>
      <p>Currently you cannot change your username once you set up your ReelTrail account, so make sure you choose something you love when you register!</p>

      <hr>

      <p class="lead">How can I trust buying on ReelTrail?</p>
      <p>You are protected every time you place an order on ReelTrail with ReelTrust. When you purchase an item on ReelTrail, we keep your payment safe until you tell us you've received your order. If your item does not match the description, please notify us within 3 days of delivery. After we verify your claim, we'll refund payment. If we don't hear from you by 3 days after your order is delivered, we'll assume everything is great.</p>

      <hr>

      <p class="lead">What are the shipping rates on ReelTrail?</p>
      <p>Shipping is paid for the buyer, unless the seller chooses “Free Shipping” for a specific item. ReelTrail provides the seller a simple system for creating shipping labels. Multiple items from one seller can be added together for cheaper shipping.</p>

      <hr>

      <p class="lead">I purchased an item, but did not receive an email confirmation. What do I do?</p>
      <p>If you have placed an order and have not received an order confirmation email, please check to see if we have the correct email address associated with your account. To verify your email address, go to the Profile button, and select Account.</p>

      <hr>

      <p class="lead">Oops! I accidentally purchased an item. What should I do?</p>
      <p>You may cancel your order within 24 hours of the order being placed.</p>
      <p>To cancel an accidental purchase, click on your Profile icon → Purchases → select Refund button, and follow the steps.</p>
      <p>Please note that once an order has been shipped, we will not be able to cancel it.</p>

      <hr>

      <p class="lead">When can I expect to receive my order?</p>
      <p>Please allow 1-2 weeks to receive your order, as we allow our sellers up to 7 days to ship out their orders. However, the majority of our sellers ship their orders within 3 days of purchase. All orders are shipped using USPS, UPS, or FedEx. USPS orders are usually 3 days while UPS and FedEx average 5-7 business depending on the package size.</p>
      <p>After you place your order, we work behind the scenes with the seller to get your order to you as soon as possible. The seller will upload the tracking number, which you can track through the carrier.</p>

      <hr>

      <p class="lead">I never received my order. What should I do?</p>
      <p>You are protected every time you place an order on ReelTrail with ReelTrust. If your order never arrives, we'll refund your payment.</p>
      <ul>
      	<li>First, check to see if your order has shipped. You can do this by going to your Profile tab &rarr; Purchases. Click on the item you purchased and check the order status. If your order hasn't shipped, we suggest you contact the seller by commenting on the listing.</li>
      	<li>First, check to see if your order has shipped. You can do this by going to your Profile Tab → Purchases. Click on the item you purchased and check the order status. If your order hasn't shipped, we suggest you contact the seller by commenting on the listing.</li>
      	<li>If your seller doesn't ship your order within 7 days of purchase, you have the option to cancel your order and get a full refund. You can do this by going to your Profile icon → Purchases → Click on the item you purchased → Refund/Order Inquiry.</li>
      	<li>If your order remains unshipped by the 21st day and has not been cancelled by you or the seller, we will automatically cancel the order on your behalf to ensure you receive your payment back.</li>
      	<li>If your order has shipped but never arrived, please report this by going to your Profile icon → Purchases → [Click on the item you purchase] →Refund/Order Inquiry.</li>
      </ul>

      <hr>

      <p class="lead">My order was cancelled. When will I receive my refund?</p>
      <p>When an order is cancelled, we process a full refund back to the original payment method right away.</p>
      <p>If you used a credit card, please note that we send the funds back to your bank within 3-5 business days of order cancellation, but the exact date that your bank posts it to your statement can vary depending on the bank. Please allow up to 1 full billing cycle for your bank to post your refund to your statement.</p>
      <p>If you used ReelPay, the funds will immediately return to your account at the time of order cancellation.</p>

      <hr>

      <p class="lead">What should I do when I receive my order?</p>
      <p>Once you have received your order, please ensure your purchase is as described within the listing. If everything is okay with your order, please leave the seller feedback.</p>
      <p>If you receive your order not as described, please notify us within 3 days of delivery by filing a claim with us. To file a claim, go to the Profile icon → Purchases → [Click on the item you purchased] → Refunds/Order Inquiry. Click here for the <a (tap)="open('https://www.reeltrail.com/claim/submit/')"  style="color:#B22222"><b>Claims Form</b></a> as well.</p>

      <hr>

      <p class="lead">How do I sell on ReelTrail?</p>
      <p>To create a listing, click on the "Sell" button (the price-tag icon in the app), take clear photos of the item you wish to sell, fill in the required information (description, price, size etc.) and voila - you've made a listing!</p>
      <p>Please remember to only list items that fall within our selling guidelines and to accurately describe your item!</p>

      <hr>

      <p class="lead">What will help my listing sell faster?</p>
      <p>Sell your items quickly by following these helpful tips:</p>
      <ul>
      	<li>Use great lighting when taking pictures! Buyers want to clearly see the item.</li>
      	<li>Create a nice and clear thumbnail photo by modeling and/or styling the item.</li>
      	<li>Carefully review your item while listing and include additional photos showing any damage, excessive wear, or stains.</li>
      	<li>Write a thorough, detailed description for your listing by including the item's condition, color, size, material, measurements, and any wear or damage, etc.</li>
      	<li>Share your listing with followers or friends on ReelTrail or through Instagram, Pinterest, Facebook, Twitter, Tumblr, email or SMS easily through the app.</li>
      	<li>Choose some, or all, of our addition Listing Options at the end of the listing! These tend to speed the process up and help buyers know you care about your item! Keep in mind Listing Options are non-refundable.</li>
      </ul>

      <hr>

      <p class="lead">What are the fees for selling on ReelTrail?</p>
      <p><b>Outdoor Gear</b> fees are option through our 4 Subscription option: </p>
      <ol>
      	<li><strong>Bronze:</strong> No monthly charge, 7.5% fee when each item sells</li>
      	<li><strong>Silver:</strong> $19.00/month + 5.5% fee when each item sells</li>
      	<li><strong>Gold:</strong> $39.00/month + 3.5% fee when each item sells</li>
      </ol>
      <p><b>Adventure</b> listing fees: $1.00 per day, unlimited days. Keep in mind you have 24 hours to change your Adventure listing duration of days.</p>
      <p>ReelTrail offers a variety of options that can make your listing stand out and more desirable towards buyers, but small additional fees will be charged.</p>
      <p>We at ReelTrail like simplicity. Unlike other places our service handles the financial transaction for you, provides the shipping process and label, and we will serve as your customer support team for your sale. In other words, we provide a simple end-to-end platform for selling fashion!</p>

      <hr>

      <p class="lead">What can I sell on ReelTrail?</p>
      <p>ReelTrail is a marketplace for the outdoorsman, whether you fish or mountain bike. Please refrain from listing items that do not fall into the categories listed on our site. Such listings clutter the marketplace and make shopping for fashion more difficult and less enjoyable for others.</p>
      <p>Pre-owned items can be listed on ReelTrail, just make sure they are clean and in good condition. All items must be clearly and accurately represented.</p>
      <p>ReelTrail prohibits the sale of replicas or fakes. Please join us in respecting and celebrating the intellectual property and creativity of brands and designers. Members who buy, list, or otherwise attempt to sell replicas or fakes risk immediate and permanent suspension from ReelTrail.</p>
      <p>Note, using a brand name to falsely describe or promote an item violates trademark law, even if the item is not explicitly "counterfeit". For example, the use of the words "inspired by" followed by a brand (for example "inspired by Orvis") is prohibited on our platform.</p>
      <p>We do not condone the buying or selling of health and wellness products. ReelTrail is not responsible for any injury or health issues related to such items.</p>
      <p>If we feel that your listing violates these guidelines in any way, we reserve the right to remove it and may take other actions, including restricting your future buying and selling privileges on ReelTrail.</p>

      <hr>

      <p class="lead">I just made a sale! How do I ship?</p>
      <p>Congratulations on your sale! When your item sells, you will be prompted fill out your shipping to print a shipping label. Please ensure you use our shipping label service to ship out your order to avoid any delay in receiving your earnings, as each label has a tracking number connected with each order for us to track on our end. If our shipping label is not used, we cannot compensate or reimburse users if a package is lost in transit since we will not have access to any tracking information.</p>
      <p>When you print your shipping label, we recommend you ship out your sale as soon as possible, as the buyer is eagerly awaiting their item! Most of our sellers ship within 2 days of purchase.</p>
      <p>Please note that if your sale remains unshipped by the 7th day, the buyer can cancel the order, and you will likely lose your sale and earnings. ReelTrail reserves the right to automatically cancel any order that remains unshipped by the 14th day after purchase.</p>

      <hr>

      <p class="lead">I can't find my shipping label in my email. What do I do?</p>
      <p>When your item sells, you are prompted to the shipping label process. Please package your item, print the label, and adhere it to your package. Then drop it off at the desired postal service company (USPS, UPS, FedEx, etc.)</p>
      <p>Simply go to your Profile Tab → My Sales → Select your order → Click the shipping label icon, and reprint the label you’ve already purhcased, create a new shipping label if the sale didn’t go through.</p>
      <p>Are you still not receiving your shipping label? Contact us at <a href="mailto:support@reeltrail.com">support@reeltrail.com</a>.</p>
      <p>We'll be happy to find it for you.</p>

      <hr>

      <p class="lead">I shipped my sale. How do I get paid?</p>
      <p>Once the buyer has paid for the item, the money is deposited within 24-48 hours to your bank account that you provided under the Account tab in your Profile.
      </p>


      <hr>

      <p class="lead">How can I trust selling on ReelTrail?</p>
      <p>We want you to feel secure when selling on ReelTrail. When your item sells, we our service for your shipping label to put on your package. As long as you use the ReelTrail -provided label and the package is scanned into the carrier’s tracking system, you will be fully covered by ReelTrust should the package get lost in transit by the carrier. Any orders over $200 will require a signature upon delivery to provide additional protection. </p>
      <p>If a buyer reports a problem with their order, we will ask them to upload details and photos. The ReelTrail team then carefully reviews the case and offers a resolution.</p>

      <hr>

      <p class="lead">What is ReelTrail's Return Policy?</p>
      <p>A seller’s refund policy is stated in each listing and should be examined carefully before purchasing an item. However, we take an active role in each and every purchase made on ReelTrail to ensure both the buyer and seller has a great experience. </p>
      <p>A buyer may open a case with us if they don't receive their item or the item they receive is not as described within the listing. This means a buyer cannot return an item they purchased on ReelTrail if the item simply does not fit or they no longer want the item - as long as the seller accurately described the item in the listing.</p>
      <p>If the buyer receives an item that is not as described within the listing, is sent the wrong item, or is in some other way not as described, the buyer can report their problem to us within 3 days of delivery through the app or on the web. When a case is opened, the buyer is asked to upload photos and offer details of the item. If the return is verified, we assist the buyer in returning the item to the seller and offer them a full refund. Click here for our <a href="https://www.reeltrail.com/claim/submit/" target="_blank" style="color:#B22222"><b>Claims Form</b></a>.</p>
      <p>To avoid a problem with a sale, we advise sellers to be as descriptive and detailed as possible when creating your listings. We encourage buyers to review the listing photos, description and item condition, the seller’s return policy, and if you have any questions, please ask the seller for additional details, measurements or photos. Sellers are usually more than happy to provide additional information.</p>

      <hr>

      <p class="lead">What happens when my buyer has reported my item as not as described?</p>
      <p>When a buyer reports a problem with their order, we ask them to submit supporting documentation including photos and a list of issues.</p>
      <p>Our team will then review the photos and information provided, the seller's listing (photos, description and all communication between buyer and seller), and other relevant documentation prior to coming to a resolution.</p>
      <p>We recommend that all sellers accurately describe their items by providing clear, representative photos that fully show the condition of the item and a detailed description.</p>
      <p>Both the buyer and seller will be notified via email once there is a resolution.</p>

      <hr>

      <p class="lead">Do you support international shipping?</p>
      <p><em>Yes</em>, we do support international shipping outside of the United States and its Territories!</p>

      <hr>

      <p class="lead">Do you ship to APO or military addresses?</p>
      <p><em>Yes</em>, we do ship to APO and military addresses.</p>

      <hr>

      <p class="lead">Do you ship to PO Boxes?</p>
      <p><em>Yes</em>, we support shipping to PO boxes.</p>

      <hr>

      <p class="lead">What kind of boxes can I use to ship out my order?</p>
      <p>ReelTrail offers services from USPS, UPS, and FedEx. This means that you can pick up FREE boxes at USPS or you must purchase a box at UPS or FedEx. (You can also have boxes delivered right to your home by ordering them on www.usps.com!) They come in a few different sizes so you can pick the one that fits your item best.</p>
      <p>Just remember - and this is important – you cannot ship a FedEx label on USPS box, or vice versa. You need to ship using the boxes that are labeled correctly with the corresponding carrier.  If you mix the labels and boxes up, it may cause delays in shipping and receiving your earnings. Keep in mind that a box with no labeling on it does not matter as long as the dimensions of the box match your shipping label.</p>
      <p>Good news: standard brown boxes and padded envelopes that you have around the house work just as well!</p>

      <hr>

      <p class="lead">Can I trade on ReelTrail?</p>
      <p>Our ReelTrust policy does not cover trades within the system and the buyer must pay the standard shipping fee for such trades. When payment for the full value of items is not exchanged through the ReelTrail system, we cannot guarantee that both parties will ship their items to each other as promised or as described.</p>
      <p>Trading is based on an honor system and is difficult for us to support. For this reason, we do not allow users to trade on ReelTrail as they are not protected.</p>

      <hr>

      <p class="lead">What should I do if someone asks me to take a transaction offline?</p>
      <p>Purchasing or selling an item listed on ReelTrail using PayPal or any means other than ReelTrail checkout is called an "offline transaction" and is prohibited.</p>
      <p>When payment for the full value of the item is not exchanged through the ReelTrail system, we cannot guarantee that both parties ship and transact as promised. If we don't process payment, we aren't able to refund the buyer if something goes wrong (for example, if the seller never ships your item or the item you receive is not as described in the listing). </p>
      <p>As a result, our ReelTrust buyer protection program does not cover offline transactions. In addition, if we don’t process payment, we can't guarantee that the seller receives their earnings if they deliver the item as described.</p>
      <p>Taking transactions offline is harmful and hurts everyone who plays by the rules. Members who repeatedly take transactions offline will have their future buying and selling privileges restricted on ReelTrail.</p>
      <p>If you are approached to take a transaction offline, please contact us immediately at <a href="mailto:support@reeltrail.com">support@reeltrail.com</a>.</p>

      <hr>

      <p class="lead">How can I report a bad listing or user?</p>
      <p>You may report a listing that violates our policies and guidelines at any time.</p>
      <ul>
      	<li><strong>In the app:</strong> Click on the listing → Click the icon in the bottom left hand corner of the screen → Click the 'Report Listing to ReelTrail' button → Choose the reason for reporting the listing.
      </li>
      	<li><strong>On the web:</strong> Click into the listing → Click the "Report Listing" button on the left side of the listing → Choose the reason for reporting the listing, the report will be automatically sent to our moderation team who will investigate.</li>
      </ul>
      <p>Once you submit, the report will be automatically sent to our moderation team who will investigate. We ask that you not engage with the listing or its owner directly, as this can cause problems for all parties involved.</p>

    </ion-card-content>
  </ion-card>




</ion-content>
