<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rt-blue">
    <ion-buttons start>
      <button ion-button icon-only color="royal" (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>SHOPPING CART</ion-title>
    <ion-buttons end>
      <button ion-button icon-only small color="royal" (tap)="info()">
        <ion-icon name="ios-information-circle-outline">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content ion-scroll>

  <ng-container *ngIf="cart">


    <ion-list>
      <ng-container *ngFor="let store of cart.content">
        <ion-list-header>
          Items from {{store.seller.name}}
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of store.items" #slidingItem>
          <ion-item (tap)="details(item.gear._id)" text-wrap>
            <ion-thumbnail item-start>
              <img [src]="item.gear.thumbnail">
            </ion-thumbnail>
            <h2>{{item.gear.title}}</h2>
            <p *ngIf="item.shipping >0">Shipping : {{item.shipping|currency:'USD'}}</p>
            <p *ngIf="item.shipping == 0">Free Shipping</p>
            <p>Qty: {{item.quantity}}</p>
            <ion-note item-end>
              {{item.price|currency:'USD'}}
            </ion-note>
          </ion-item>
          <ion-item-options side="right">

            <button ion-button color="danger" (tap)="delete(item.gear._id, slidingItem)">
              <ion-icon name="ios-trash-outline"></ion-icon>
              Remove
            </button>
          </ion-item-options>

        </ion-item-sliding>
        <ion-item no-lines>
          <ion-thumbnail item-start>
            &nbsp;
          </ion-thumbnail>
          <ion-row justify-content-center padding-horizontal>
            <ion-col text-left>
              <span>SubTotal</span>
            </ion-col>
            <ion-col text-right>
              <span>{{store.subtotal|currency:'USD'}}</span>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center padding-horizontal>
            <ion-col text-left>
              <span>Shipping</span>
            </ion-col>
            <ion-col text-right>
              <span>{{store.shipping|currency:'USD'}}</span>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center padding-horizontal>
            <ion-col text-left>
              <span>Tax</span>
            </ion-col>
            <ion-col text-right>
              <span>{{store.taxes|currency:'USD'}}</span>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center padding-horizontal>
            <ion-col text-left>
              <h2 no-margin ion-text color="primary">Total</h2>
            </ion-col>
            <ion-col text-right>
              <h2 no-margin ion-text color="primary">{{store.total|currency:'USD'}}</h2>
            </ion-col>
          </ion-row>
        </ion-item>
      </ng-container>
      <ion-list-header>
        Shipping address
      </ion-list-header>
      <ion-item *ngIf="!(aOpts.length > 0)">
        <button ion-item (tap)="addAddress()">
          <ion-icon color="rt-blue-c" name="ios-locate-outline" item-start></ion-icon>
          Add an Address to your account
        </button>
      </ion-item>
      <ion-item *ngIf="aOpts.length > 0">
        <ion-label ion-text color="primary" floating>Ship to</ion-label>
        <ion-select [(ngModel)]="addressId" [selectOptions]="aSOpts" (ionChange)="checkout()">
          <ion-option *ngFor="let address of aOpts;" [value]="address._id">
            {{address.street1}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header>
        <h2 ion-text color="primary">
          Grand Total
        </h2>
        <ion-note item-end>
          <h2 ion-text color="primary" *ngIf="cart">
            {{cart.total|currency:'USD'}}
          </h2>
        </ion-note>
      </ion-list-header>
      <ion-item no-lines>
        &nbsp;
      </ion-item>
      <ion-item no-lines>
        &nbsp;
      </ion-item>
      <ion-item no-lines>
        &nbsp;
      </ion-item>
    </ion-list>
  </ng-container>

  <h4 color="rt-blue-c" *ngIf="subTotal === 0" text-center>Your cart is empty. Browse around and add to it!</h4>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ng-container *ngIf="cart && subTotal !== 0">
      <ion-row>
        <ion-col text-center>
          Select Payment Option
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines (tap)="buy()" style="background:transparent">
            <img class="payment" src="assets/imgs/rtd-android.jpg" *ngIf="!platform.is('ios')">
            <img class="payment" src="assets/imgs/rtd-ios.jpg"  *ngIf="platform.is('ios')">
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines style="background:transparent">
            <div id="paypal-button" style="text-align: center;"></div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-toolbar>
</ion-footer>