// @Author: Ruben
// @Date:   2017-11-02T01:26:50-06:00
// @Last modified by:   Ruben
// @Last modified time: 2017-12-13T16:33:43-07:00



page-seller-settings {

  .sub {
    padding: 0px !important;
  }

  .sub .toolbar-title {
    color: color($colors, 'rt-blue-b') !important;
  }

  ion-label{
    min-width: 150px !important;
  }

  ion-select{
    padding: 11px 8px 8px 0px !important;
    max-width: 100%;
    width: 100%;
  }

}
