page-profile-edit {

  ion-avatar img{

    width: 100px !important;
    height: 100px !important;
    margin: 0 auto;
    object-fit: cover;

  }

  .head {
    background-color: color($colors, 'rt-blue') !important;
  }
  .rate-background{
    background-color: color($colors, 'rt-blue-c') !important;
  }

  .head ion-item{
    background: transparent;
  }

  ion-select{
        padding: 11px 8px 8px 0px !important;
  }

  ion-datetime{
        padding: 11px 8px 8px 0px !important;
  }

}
