// @Author: Ruben
// @Date:   2017-10-29T21:00:46-06:00
// @Last modified by:   Ruben
// @Last modified time: 2017-12-07T12:42:16-07:00



page-item-details {




  ion-card img {
    object-fit: cover;
    height: 12em;
  }
  ion-card {
    position: relative;
    text-align: left;
    width: 10em !important;
    display: inline-block;
    margin: 0px 0px 0em 1em !important;
    left: 1em;


  }

  ion-card-content {
    padding: 10px !important;
  }

  .card-posted {
    font-size: .8em;
    height: 2em;
    color: #777;
  }

  .card-title {
    display: block;
    display: -webkit-box;
    font-size: .9em;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    text-transform: uppercase;
  }

  .card-subtitle {
    font-size: 1em;
    width: 100%;
    color: #666;
    text-transform: uppercase;

    span:first-child {
      color: #000;
    }
  }

  .overlay {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+84,000000+99&0+19,0+61,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 19%, rgba(0,0,0,0) 61%, rgba(0,0,0,0.38) 84%, rgba(0,0,0,0.63) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 19%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.38) 84%,rgba(0,0,0,0.63) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 19%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.38) 84%,rgba(0,0,0,0.63) 99%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

  }

  .inner{
    width: 1000px;
    height: 10em;


  }

  .price{
    margin: 0 !important;
  }

  .shipping {
      margin: 0 !important;
      font-weight: bold !important;
      font-size: 1.2em !important;
  }

  ion-slide img{
    min-width: 100% !important;
    padding: 0px !important;
  }

  .slider {
    height: 25em;
    padding: 0px;
    background-color: color($colors, rt-light);
  }

  .slider img {
    padding: 2em;
  }

  .desc {
    white-space: pre-line;
  }

  h4 {
    margin: 0px;
  }

  p {
    margin-top: 0px;
  }

  s {
    color: #777;
    margin-left: 10px;
  }

  .img-viewer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 10;

    ion-navbar {
      background: #000000;
      position: absolute;
      z-index: 11;
      padding: 0;

      .toolbar-background-ios {
        background: #000000;
      }

      .back-button {
        display: none;
      }

      button {
        display: flex;
        align-items: center;
        padding: 0 6px;
        margin-top: 10px;

        ion-icon {
          padding-right: 5px;
          font-size: 3.4rem;
        }

        span {
          font-size: 1.7rem;
        }
      }
    }

    .swiper-pagination {
      display: none;
    }
  }

  .updated-info {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  .updated-info .col {
    display: flex;
    align-items: center;

    div {
      margin-left: 10px;

      p {
        color: #9d2929;
      }
    }

    p {
      margin: 0;
    }
  }

  .img-circle {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
}
