page-messages {

  ion-grid{
    height: 100%;
    justify-content: center;
  }

  .check-bg{
    background: url(../assets/imgs/bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }

  .icon-top {
    font-size: 6em;
  }

  #notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
    line-height: 9px;
  }
  ion-badge {
    padding: 3px 5px;
    font-size: 1.0rem;
  }

  .verbiage {
    margin-top: 0;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
  }
}
