<!--
  Generated template for the AboutPrivacyPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rt-blue">
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="seoContent">
  <ion-row>
    <ion-col padding></ion-col>
  </ion-row>
  <ion-row>
    <ion-col [innerHTML]="seoContent" padding></ion-col>
  </ion-row>
  <ion-row>
    <ion-col padding>
      <p text-center>
        
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col padding></ion-col>
  </ion-row>
</ion-content>
<ion-content padding  *ngIf="!seoContent">

  <ion-card>
    <!-- <img src="assets/imgs/au1.jpg" /> -->
    <ion-card-content>
      <ion-card-title>
      This Privacy Policy governs the manner in which ReelTrail, LLC collects, uses, maintains and discloses information collected from users (each, a 'User') on www.reeltrail.com website ('Site'). This privacy policy applies to the Site and to all products and services offered by ReelTrail, LLC (“ReelTrail”). (“Users” are those entities and persons who hold or have held ReelTrail accounts; and also “Users” are visitors to the website www.reeltrail.com that browse and navigate on the site and mobile application.
      </ion-card-title>
      <ol>
      	<li><h4><i>Personal Identification Information</i></h4>
      		<ol style="list-style-type: none;">
      			<li>ReelTrail may collect personal identification information from Users in a variety of ways, including, but not limited to; during visits by Users to the ReelTrail website, from Users who register on the site, from Users who place an order, and from Users' general browsing and in connection with other activities, services, features or resources ReelTrail makes available on the ReelTrail Site. Users may be asked for, as appropriate, their names, email addresses mailing addresses, phone numbers, and credit card information. Users may, however, visit ReelTrail Site anonymously. ReelTrail will collect personal identification information from and about Users only when Users voluntarily submit such information to ReelTrail. Users can always refuse to supply Personal Identification Information, but with an understanding that for them to do so may prevent them from engaging in certain ReelTrail site-related activities.</li>
      		</ol>
      	</li>

      	<li><h4><i>Non-Personal Identification Information</i></h4>
      		<ol style="list-style-type: none;">
      			<li>ReelTrail may collect Non-Personal Identification Information about and from Users whenever Users visit and interact with ReelTrail Site. Non-Personal Identification Information may include a User's browser name, a User's type of computer, and also technical information about Users' means of connection with ReelTrail Site, such as a User's operating system and a User's Internet Service Provider; and also other similar information.</li>
      		</ol>
      	</li>
      	<li><h4><i>Web Browser Cookies</i></h4>
      		<ol style="list-style-type: none;">
      			<li>ReelTrail Site may use 'cookies' to enhance a User's experience. A User's web browser places cookies on a User's hard drive for the sake of record-keeping purposes and sometimes so as to track information about a User. Users may choose to set their web browser so as to refuse cookies, or else to alert a User when cookies are being set. When a User refuses cookies, note that some parts of the ReelTrail Site the User's experience may be that the ReelTrail Site may seem not to function properly.</li>
      		</ol>
      	</li>

      	<li><h4><i>How ReelTrail uses Collected Information</i></h4>
      		<ol style="list-style-type: none;">
      			<li>ReelTrail, LLC may collect and use Users' personal information for the following purposes: (i.)To assist in improvements to ReelTrail customer service: Information Users provide ReelTrail helps ReelTrail respond more efficiently to Users' customer service requests and to Users' support needs. (ii.) To help personalize user experience: ReelTrail may use information in the aggregate to understand how ReelTrail Users as a group use the services and resources provided on ReelTrail Site. (iii.) To help improve ReelTrail Site: ReelTrail may use feedback Users provide to improve ReelTrail products and services and their provision by ReelTrail. (iv.) To send emails from time to time. ReelTrail may use the email addresses supplied by Users to send Users information and updates pertaining to Users' orders from ReelTrail. Such email addresses may also be used to respond to Users' inquiries, questions, and/or to other requests.</li>
      		</ol>
      	</li>

      	<li><h4><i>How ReelTrail Protects Users' Information</i></h4>
      		<ol style="list-style-type: none;">
      			<li>ReelTrail adopts appropriate practices for doing data collection, storage and processing and ReelTrail adopts appropriate security measures which protect against unauthorized access, alteration, disclosure or destruction of Users’ personal information, username, password transaction information and for data stored on ReelTrail Site. ReelTrail will not be responsible for any type of data breach happening from an unknown entity and user(s) agree(s) to hold ReelTrail completely harmless no matter what level of data breach might happen.

      			Sensitive and private data exchange between the ReelTrail Site and ReelTrail's Users happens over an SSL secured communication channel wherein data is encrypted and protected by a use of digital signatures.</li>
      		</ol>
      	</li>

      	<li><h4><i>Sharing Users' Personal Information</i></h4>
      		<ol style="list-style-type: none;">
      			<li>ReelTrail does not sell, trade, or rent Users' personal identification information to others. ReelTrail may share with ReelTrail's business partners, trusted affiliates and with advertisers; all for the purposes outlined above; only generic aggregated demographic information which is not linked to any particular personal identification information regarding ReelTrail Site's visitors and users.</li>
      		</ol>
      	</li>

      	<li><h4><i>Inappropriate Use</i></h4>
      		<ol style="list-style-type: none;">
      			<li>The Customer, and the Customer's employees and agents, will not use the ReelTrail Service(s) so as to transmit through the Service(s) by any means any unlawful, harassing, libelous, unsolicited (e.g. commercial email (“spam”)), abusive, threatening, harmful, vulgar, obscene or otherwise objectionable material of any kind. The Customer agrees to defend, indemnify, and hold harmless ReelTrail against any claim or action, civil or criminal which arises out of the Customers' use of the ReelTrail Service(s) in any manner.

      			Forbidden materials include counterfeited and pirated materials, animals of any kind, hate crime, revenge crime, obscene written or pictorial materials, abusive language, swearwords, sexually and other illicit grooming materials, all and any items which stand outside the law and/or standards of public decency, cheats, confidence tricks, over-exaggerated and/or deceptive descriptions, outright lies, nor any unethical or illicit trading means or techniques; nor any other materials or techniques which fall outside general standards of public welfare and decency and/or beyond US Federal and/or State law. A Customer who is deemed by ReelTrail to be in breach of this ‘Inappropriate Use’ shall face instant closure of his account.</li>
      		</ol>
      	</li>

      	<li><h4><i>Changes to this Privacy Policy</i></h4>
      		<ol style="list-style-type: none;">
      			<li>ReelTrail, LLC holds and maintains a discretion to update this ReelTrail privacy policy at any time. When ReelTrail does so, ReelTrail will revise the date at the bottom of this page which is the date of the latest update to the privacy policy. ReelTrail encourages Users to check this page frequently for any changes, so that Users may stay informed about how ReelTrail is helping to protect the Personal Information ReelTrail collects. Users acknowledge and agree that it is Users' responsibility to review this ReelTrail privacy policy periodically and so become aware of any modifications.</li>
      		</ol>
      	</li>

      	<li><h4><i>Users’ Acceptance of these Terms</i></h4>
      		<ol style="list-style-type: none;">
      			<li>By using this ReelTrail Site, Users signify User acceptance of this policy. If a User does not agree to this ReelTrail policy statement in any way, please do not use ReelTrail Site. Users' continued use of the ReelTrail Site following the posting of this policy and any changes to this policy will be deemed User acceptance of this policy and any to changes to it henceforth.</li>
      		</ol>
      	</li>

      	<li><h4><i>Contacting ReelTrail</i></h4>
      		<ol style="list-style-type: none;">
      			<li>If you have any questions about this Privacy Policy, or about the practices of ReelTrail Site, or about your dealings with this ReelTrail site, please contact ReelTrail at: info@reeltrail.com</li>
      		</ol>
      	</li>
      </ol>

      ReelTrail reserves the right to alter these policies at any time. Updated May 2017

    </ion-card-content>
  </ion-card>





</ion-content>
